.NavBar {
  width: 1440px;
  height: 72px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  font-size: 14px;
}

.Logo {
  margin-left: 252px;
}

.Search {
  margin-left: 271px;
}

.Login {
  margin-right: 247.5px;
}

.LoginYes {
  width: 100px;
}

.NavList {
  width: 74px;
  height: 18px;
  padding-bottom: 30px;
  font-family: AirbnbCerealApp;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #7c8383;
}