.ImgRed {
  width: 56px;
  height: 52px;
  margin-top: 36px;
  margin-left: 16px;
}

.TitleRed {
  width: 192px;
  height: 18px;
  font-family: AirbnbCerealApp;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--charcoal);
}

.DescriptionRed {
  width: 192px;
  height: 36px;
  font-family: AirbnbCerealApp-Light;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #7c8383;
}

.Shape {
  width: 304px;
  height: 114px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 12px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}